@import "var-list";

@import "home";

@import "header";

@import "cart";

@import "contact";

h2{
    background: rgba(255, 251, 0, 0.247);
    color: black;
}

@keyframes backgroundAnim {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}

main{
    background-image: url(./img/cosmos-1853491_1920.jpg);
    color: lightgray;
    background-size: no-repeat;
    background-attachment: fixed;
    animation: backgroundAnim 60s ease infinite ;
}

footer{
    background: rgb(97, 97, 97);
    color: rgb(255, 255, 255);
}